.navbar{
    display:flex; 
    justify-content: space-between;
    align-items: center;
    padding: 15px 6%; 
    color: #ddd;
    border-bottom: 1px solid #3c3c3c;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 100px; 
  }
  
  
  .navbar ul{
      display:flex;
      gap:20px;
      list-style:none;
      margin-left: 500px;
      font-size: 16px;
  }
  
  .navbar li{
      cursor: pointer;
      transition: all 0.2s ease-in-out
      
  }
  
  .navbar li:hover{
      color: #515151;
      transition: all 0.2s ease-in-out
  }
  
  
  .nav-right{
      display: flex;
      align-items: center;
      gap: max(1vw, 15px);
      
  }
 
 
     .nav-right button {
         padding: 10px 20px;
         font-size: 12px;
         border-radius: 50px; 
         width: auto;
         height: auto; 
         cursor: pointer;
     }

